/*顶部菜单*/
.maxtopmenu{border-bottom: 2px solid #E8E8E8;font-size: 0.8rem;padding: 4px 0px 4px 0px;position: relative;}

.maxtopmenu>div{width: 100%;max-width: 1040px;min-width: 755px;margin: 0 auto;text-align: right;overflow: hidden;padding-right: 50px;}

.maxtopmenu>div a{ color: #C5C5C5;}

.maxtopmenu>div>span{margin-right: 10px}

.maintopmenu{width: 100%;max-width: 1000px;min-width: 755px;margin: 0 auto;overflow: hidden;padding: 10px;}

.maintopmenu>div,.maintopmenu>section{display: inline-block;font-size: 0.9rem;display: inline-block;font-size: 0.9rem;
	width: 80px;text-align: center;line-height: 30px;height: 30px;color: #9A9A9A;cursor: pointer;}

.maintopmenu .menuselect{color:#9A9A9A;border:none;outline: none;}

.contentmenu{margin-top:20px;padding-bottom:30px;float: right;width: 220px;background-color: #f8f8fa; border: 1px solid #e8e8e8;}

.contentmenu>li>div{width: 20px;height: 20px;border-radius: 50%;border: 1px solid #b7b7b9;background-color: #dedee0;display: inline-block;position: absolute;margin-left: -30px;}

.contentmenu .menuli{margin-top: 25px;text-align: center;margin-left: 30px;cursor: pointer;}

.contentmenu .selectmenu{color:#ffb300;}

.contentmenu .selectmenu>div{border: 1px solid #ffb300;background-color: #ffb300;}

/*自定义简单的弹出窗*/
.simalert{display: none;}

.simalert_mask{position: fixed;z-index: 1;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,.6);}

.simalert_dialog{position: fixed;z-index: 4;width: 85%;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);background-color: #fafafc;text-align: center;border-radius: 3px;-webkit-border-radius: 10px;}

.simalert_dialog_hd{padding: 1.2em 0 .5em;}

.simalert_dialog_bd{padding: 0 20px;font-size: 15px;color: #888;}

.simalert_dialog_title{font-weight: 400;font-size: 17px;}

.simalert_dialog_ft{ position: relative;line-height: 42px;margin-top: 20px;font-size: 17px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}

.simalert_dialog_ft a{display: block;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;
	text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-border-radius: 10px;}

.simalert_btn_dialog.default0{border-right: 1px solid #E8E8EA;color: #353535;}

.simalert_btn_dialog.default1{color: #353535;}

.simalert_dialog_ft:after {content: " ";position: absolute;left: 0;top: 0;width: 100%;height: 1px;border-top: 1px solid #d5d5d6;color: #d5d5d6;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(.5);transform: scaleY(.5);}