/*轮播样式*/
#swipecode{ width:100%;float: left;background-color: #ffffff;position: relative;overflow: hidden;}

#swipecode .hd{ width: 100%;height: 0px;position: absolute;z-index: 1;bottom: 30px;text-align: center; }

#swipecode .hd div{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); -webkit-border-radius:5px;
 -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;}

#swipecode .hd ul{height:0px;}

#swipecode .hd ul li{ background-color:#ffffff;display: inline-block;vertical-align: middle;margin: 4px;width: 7px;height: 10px;opacity: 1;
	border: 1px solid #A2A0A0;border-raidus: 5px;-webkit-border-radius: 5px;-moz-border-radius: 3px;-o-border-radius: 3px;font-size: 0;  }

#swipecode .hd ul .on{ background-color: #fd9564;opacity: 0.8; }

#swipecode .bd{ position: relative;z-index: 0;width:800px;height: 250px;margin-left: 100px;}

#swipecode .bd li img{ width:100%;}

#swipecode .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }

.hd .prev{ position:absolute; left:48px; top:-100px; display:block; width:23px; height:27px; line-height:27px; text-align:center;   }

.hd .next{ position:absolute; left:927px; top:-100px; display:block; width:23px; height:27px; line-height:27px; text-align:center;   }
/*第一条横线*/
.firstem{ width: 100%;height: 2px;background-color: #e1e1e1;position: absolute;left: 0;top: 330px;}
/*职位和地区选择*/
.positionarea{ position: relative;clear: both;padding: 10px 0px;width: 100%;color:#9A9A9A;font-size: 0.9rem;}

.positionarea .position>div,.positionarea .area>div{ display:inline-block;height: 26px;border: 1px solid #e1e1e1;width: 60px;border-radius: 5px;
	text-align: center;line-height: 26px;background-color: #e8fbff;}

.positionarea .position>a,.positionarea .area>a{ margin-left:10px;cursor: pointer;}

.positionarea .area{ margin-top: 10px;}
/*发布筛选em*/
.selectback{ position: absolute;left: 0;height: 50px;width: 100%;background-color: #fbfff8;border-top: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;}

.selectem{ position: relative;color: #9A9A9A;}

.selectfabu {border: 1px solid #b1b1b1!important;}

.selectem .selectemdiv1,.selectem .selectemdiv2{ width: 49%;display: inline-block;}

.selectem .selectemdiv1>div{ display: inline-block;margin-right: 30px;cursor: pointer;}

.selectem .selectemdiv2>div{ display: inline-block;margin-right: 30px;border: 1px solid #fbfff8;margin-top: 14px;padding: 2px 5px;border-radius: 5px;cursor: pointer;}


